.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.title {
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--oro);
}

.main img {
  width: 60%;
  border: 1px solid #e90f98;
}

.main a {
  text-align: center;
}

.main span {
  text-align: center;
  background-color: #e90f98;
  color: white;
  padding: 5px;
}
