.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.title {
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--oro);
  text-align: center;
}

.title span {
  margin-top: 10px;
  color: black;
  display: block;
}

.main img {
  width: 60%;
  border: 1px solid var(--oro);
}

.last {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  text-align: center;
  font-weight: 300;
  color: var(--oro);
  margin-bottom: 10px;
}

.last img {
  width: 90%;
  border: 1px solid var(--oro);
  margin: 0 auto;
}
