:root{
  box-sizing: border-box;
  --greatVibes: 'Great Vibes';
  --josefin: 'Josefin Sans';
}
*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body{
  font-family: var(--josefin);
}
